{% extends 'base.html' %}
{% load static %}
{% block title %}B1 PROPERTIES | CHATBOT{% endblock title %}

{% block content %}
<div class="container" style="margin-top: 50px; max-height:100vh; overflow-y:scroll">
    {% if not get_history %}
    <div class="text-center">
        <img class="mb-4" src="{% static 'images/B1.png' %}" alt="Company Logo" width="600" height="200">
        <h1 class="text-center">Hi {{request.user.username}} 👋, Let's Talk!🤖</h1>
    </div>
    {% endif %}
    <ol class="list-group mt-5">
        {% for history in get_history %}
        <li class="list-group-item rounded d-flex justify-content-between align-items-start p-2 mb-3"
            style="background-color: white; color:#303030">
            <div class="ms-2 me-auto">
                <div class="fw-bold">You ({{history.user.username}})</div>
                {{history.messageInput}}
            </div>
        </li>
        <li class="list-group-item rounded d-flex justify-content-between align-items-start p-2 mb-3"
            style="background-color: #6E00FF;color:white">
            <div class="ms-2 me-auto">
                <div class="fw-bold">AI bot</div>
                {{history.bot_response}}
            </div>
        </li>
        {% endfor %}
    </ol>
    <form action="" method="post" class="mt-3">
        {% csrf_token %}
        <label for="exampleFormControlTextarea1" class="form-label">Enter your prompt</label>
        <div class="d-flex mb-3 gap-2">
            <!-- Rounded Text Area -->
            <textarea class="form-control rounded" id="exampleFormControlTextarea1" rows="3"
                placeholder="How can I help you?" name="userInput" style="border-radius: 30px; padding: 15px;"></textarea>

            <!-- Rounded Submit Button -->
            <button class="btn btn-dark btn-lg rounded" type="submit" id="btn"
                style="width: 80px; border-radius: 30px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                <i class="bi bi-send-fill"></i>
            </button>
        </div>

        <div class="d-flex justify-content-center m-3 align-items-center gap-3">
            {% if get_history %}
            <a href="{% url 'deleteChat' %}" class="btn btn-warning rounded" style="border-radius: 30px;">
                Delete Chat <i class="bi bi-x-square"></i>
            </a>
            {% endif %}

            <!-- Converted Logout Link to Button -->
            <a href="{% url 'logout' %}" class="btn btn-danger rounded" style="border-radius: 30px;">
                Log out <i class="bi bi-door-open"></i>
            </a>
        </div>
    </form>
</div>
{% endblock content %}
