{% extends 'base.html' %}
{% load static %}


{% block title %}User Registration{% endblock title %}


{% block content %}

    <main class="form-signin w-100 m-auto text-center">
        <form method="post">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'images/B1.png' %}" alt="Company Logo" width="300" height="100">
        <h1 class="h3 mb-3 fw-normal">REGISTER</h1>
    
        <div class="form-floating">
            {{form.username}}
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            {{form.password1}}
            <label for="floatingPassword">Password</label>
            
        </div>
        <div class="form-floating">
            {{form.password2}}
            <label for="floatingPassword">Confirm Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">Already have an account? <a href="{% url 'login' %}">Log in</a> </p>

        <p class="mt-5 mb-3 text-muted">&copy; {{ current_year }} <a href="https://b1properties.ae/" target="_blank" class="text-primary">B1
            PROPERTIES</a>. All rights reserved.</p>
        </form>
    </main>

{% endblock content %}